<%- include('header')-%>

<body class="bg-light">

<%- include('menuStrip') -%>


<div class="container">
    <p><br/></p>
    <div class="py-5 text-center">
        <h2>Megrendelő
            <% if(typeof customer === 'undefined') { %>
                hozzáadása
            <% }else{ %>
                adatainak szerkesztése
            <% } %>
        </h2>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Számlázási cím</h4>
            <form class="needs-validation" method="post">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="fullName">Teljes név</label>
                        <input type="text" class="form-control" id="fullName" name="fullName" placeholder="" value="<%= (typeof customer === 'undefined') ? '' : customer.name %>" required>
                        <div class="invalid-feedback">
                            Érvényes név szükséges
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password">Jelszó</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="" value="<%= (typeof customer === 'undefined') ? '' : customer.password %>" required>
                        <div class="invalid-feedback">
                            Érvényes jelszó szükséges.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="arvizturo@tukorfurogep.hu" value="<%= (typeof customer === 'undefined') ? '' : customer.email %>" required>
                    <div class="invalid-feedback">
                        Kérlek írd be a gyakran használt email címed szállítási infok miatt.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Cím</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Írd be a címed irányítószámmal és várossal együtt..." value="<%= (typeof customer === 'undefined') ? '' : customer.address %>" required>
                    <div class="invalid-feedback">
                        Kérlek írd be a szállítási címet.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Ország</label>
                    <input type="text" class="form-control" id="country" name="country" placeholder="Írd be az országod..." value="<%= (typeof customer === 'undefined') ? '' : customer.country %>" required>
                    <div class="invalid-feedback">
                        Kérlek írd be az országot ahova szállítsunk.
                    </div>
                </div>

                <hr class="mb-4">

                <input type="submit" class="btn btn-primary" value="<%= (typeof order === 'undefined') ?  'Rendelő' : 'Változtatások' %> mentése" />
                <a class="btn btn-link" href="/customer/list">Mégse</a>
            </form>
            <p>&nbsp;</p>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
<script src="form-validation.js"></script>

<%- include('footer') -%>
