<%- include('header') %>

<%- include('menuStrip') %>


<div class="container">
    <br/>
    <div class="py-5 text-center">
        <h1>Rendelés</h1>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" method="post">

                <h4 class="mb-3">Autó specifikáció</h4>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="carFuel">Üzemanyag típus</label>
                        <select class="custom-select d-block w-100" id="carFuel" name="carFuel" required>
                            <option value="">Válassz...</option>
                            <option>benzin</option>
                            <option>dízel</option>
                            <option>elektromos</option>
                            <option>hibrid</option>
                        </select>
                        <div class="invalid-feedback">
                            Kérlek válassz egy üzemanyag típust.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="carColour">Szín</label>
                    <input type="text" class="form-control" id="carColour" name="carColour" placeholder="pl. #FFF6C5 vagy éjfél kék" required>
                    <div class="invalid-feedback">
                        Kérlek írd be a kigondolt színét az autódnak.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="carFrame">Kasztni alap</label>
                    <input type="text" class="form-control" id="carFrame" name="carFrame" placeholder="pl. Nissan GTR R34" required>
                    <div class="invalid-feedback">
                        Kérlek írd be milyen formája legyen az autó kasztnijának, mi legyen az alapja.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="carEngine">Motor típus</label>
                    <input type="text" class="form-control" id="carEngine" name="carEngine" placeholder="pl. 2JZ" required>
                    <div class="invalid-feedback">
                        Kérlek írd be a használni kívánt motor típusát.
                    </div>
                </div>

                <hr class="mb-4">

                <h4 class="mb-3">Rendelő adatai</h4>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label>Rendelő neve:</label><%= ' ' + customer.name  %><br/>
                        <label>Rendelő e-mailje:</label><%= ' ' + customer.email  %><br/>
                        <label>Rendelő címe:</label><%= ' ' + customer.country + ', ' + customer.address  %><br/>
                    </div>

                </div>

                <button class="btn btn-primary" type="submit">Rendelés leadása</button>

                <% if (privilegelevel === 1) { %>
                    <a class="btn btn-link" href="/customer/list">Mégse</a>
                <% } %>
            </form>
            <p>&nbsp;</p>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
<script src="form-validation.js"></script>

<%- include('footer') -%>
